extends layout
block highscores     
      aside             
            h1 LEADERBOARD: TOP FIVE
            
            ol
                  each item in leaderboard
                        li #{item._id} #{item.highscore}

           
            
        

